*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.bodymenu {
  font-family: "Plus Jakata Sans", sans-serif;
  height: 100vh;
  background-size: cover;

  display: flex;
  padding-top: 40px;
}

.sidebar {
  background-color: #12489e;
  width: max-content;
  padding: 2rem 1rem;
}

.sidebar:hover .sidebar__element{
  grid-template-columns: 40px 1fr;
}

.sidebar__list {
  list-style: none;
  padding: 0;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.sidebar__element {
  padding: .8rem 1.3rem;
  border-radius: 3px;

  display: grid;
  align-items: center;
  grid-template-columns: 40px 0fr;

  color: white;
  fill: white;

  transition: grid-template-columns .4s;
}

.sidebar__element:not(:has(.sidebar__element--logo)):hover {
  background-color: #3f85ee;
  color: #e9dcdc;
  fill: #e9dcdc;
  cursor: pointer;
  border-left: 3px solid #00ff00;
}

.sidebar__element:has(.sidebar__icon--logo) {
  margin-bottom: 1rem;  
}

.sidebar__icon {
  width: 100%;
  overflow: hidden;
  justify-self: center;
}

.sidebar__icon--logo {
  max-width: 50px;
}

.sidebar__logo, .sidebar__text {
  padding-left: 1.3rem;
}

.sidebar__hide {
  overflow: hidden;
}